<?php

/** conf.php -- by Dario Berzano <dario.berzano@cern.ch>
 *
 *  Part of sshcertauth -- https://github.com/dberzano/sshcertauth
 *
 *  Configuration settings for sshcertauth.
 */

// SSH port
$sshPort = 22;

// Authorized keys directory
$sshKeyDir = '/tmp/authorized_keys_test';

// Maximum token validity, in seconds. The authentication plugin returns a
// token validity, which is capped to this maximum value
$maxValiditySecs = 3600;

// Plugin to retrieve the username based on the certificate subject: it is a PHP
// source file included from plugins/user directory -- specify it without the
// .php extension
$pluginUser = 'alice_ldap';

// Path to the openssl binary
$opensslBin = 'openssl';

// Suggested command to print in HTML version. <PORT>, <USER> and <HOST> will be
// substituted
//$suggestedCmd = 'ssh -p <PORT> -i ~/.globus/userkey.pem <USER>@<HOST>';

//
// Configuration for the pool_users plugin
//

// Path to the mapfile that maps subjects with local accounts
$mapFile = '/tmp/x509-mapfile';

// Validity of the mapping
$mapValiditySecs = 172800;  // 2 days

// Pool accounts: lower boundary, upper boundary and username format string. The
// format string is printf-compatible and must include only one %u substituted
// with the pool ID
$mapIdLow = 100;
$mapIdHi  = 110;
$mapUserFormat = 'pool%03u';

?>
